<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009503404551-v5ggn8l9b4ocv64kos1o06cc1p0evvmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009503404551-v5ggn8l9b4ocv64kos1o06cc1p0evvmv</string>
	<key>API_KEY</key>
	<string>AIzaSyAyo9f-f9SAeW7tQ5Px3SW63mzsI6qAYV8</string>
	<key>GCM_SENDER_ID</key>
	<string>1009503404551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SkakunIlya.MyTrainingApp</string>
	<key>PROJECT_ID</key>
	<string>trainingapp-8f200</string>
	<key>STORAGE_BUCKET</key>
	<string>trainingapp-8f200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009503404551:ios:5a8d32948294080e74a0a2</string>
</dict>
</plist>